*{
    box-sizing: border-box;
}
.block {
    /* */
    height: 100%;
    width: calc(100vmin/9 - .5vmin)
}
.row {
    /* height 100% divided into 9 rows (8 chess rows , and 1 for undo and redo button)*/
    height: calc(100vmin/9 - .5vmin);
    display: flex;
    justify-content: center;
}

.piece {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    border: 3px solid gold;
}

.attack {
    border: 3px solid red;
}

.outside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: calc(10vmin);
    height: 100%;
}